
<table border="0" id="search_box">
<tr>
<td><h1 id="header">Search Groups by Name</h1></td>
<td>
<form action="#" >
	<input type="textbox" name="search_term" id="search_term" value="<%= params[:search_term] %>" >
	<input type="submit" >
</form>
</td>
<td>
	
</td>
</tr>
</table>