

<%= render(:partial => "search_box", :object => params[:search_term]) %>
<h1>Listing all groups</h1>
<%= link_to 'Order by Name',   {:search_term => params[:search_term],:order=>'name' } %>
<%= render(:partial => "group_item_display", :object => @groups) %>








