
<div id="greeting">
<% if @location %>
  I see that you are in <%= @location[7].blank? ? 'foo' : @location[7] %>, <%= @location[6] %>
<% else %>
   I have no idea  where you are ...
<% end %>
</div>
<a href="/events" > See Events Near You</a>