

<%= render(:partial => "location_feedback", :object => @location) %>


<h1 id="feedback">Listing All events</h1>

<%= render(:partial => "event_item_display", :object => @events) %>

<br />
<%= render(:partial => "events_footer") %>

